---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=%7B:lat=%3E64.1814,%20:lng=%3E51.6941%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 19:43:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{:lat=>64.1814,
        :lng=>51.6941}"},"locations":[{"street":"51 Thanon Lat Phrao 64","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Krungthepmahanakhon","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Krungthepmahanakhon","adminArea3Type":"State","adminArea1":"TH","adminArea1Type":"Country","postalCode":"10310","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"TH/PAD/p0/67122","unknownInput":"","type":"s","latLng":{"lat":13.78932,"lng":100.59986},"displayLatLng":{"lat":13.78932,"lng":100.59986},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=13.78932,100.59986|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1984318950"},{"street":"51/2
        Soi Lat Phrao 64 Yaek 8","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Krungthepmahanakhon","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Krungthepmahanakhon","adminArea3Type":"State","adminArea1":"TH","adminArea1Type":"Country","postalCode":"1031[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=13.78932&lon=100.59986&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":13.79,"lon":100.6,"timezone":"Asia/Bangkok","timezone_offset":25200,"current":{"dt":1600803733,"sunrise":1600816001,"sunset":1600859595,"temp":81.91,"feels_like":95.18,"pressure":1009,"humidity":94,"dew_point":80.01,"uvi":14,"clouds":20,"visibility":10000,"wind_speed":0.43,"wind_deg":51,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.11}},"hourly":[{"dt":1600801200,"temp":81.91,"feels_like":95.18,"pressure":1009,"humidity":94,"dew_point":80.01,"clouds":20,"visibility":10000,"wind_speed":0.43,"wind_deg":51,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0.6},{"dt":1600804800,"temp":81.82,"feels_like":92.52,"pressure":1009,"humidity":84,"dew_point":76.51,"clouds":59,"visibility":10000,"wind_speed":1.01,"wind_deg":63,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.47,"rain":{"1h":0.32}},{"dt":1600808400,"temp":81.55,"feels_like":90.27,"pressure":1008,"humidity":79,"dew_point":74.41,"clouds":83,"visibility":10000,"wind_speed":2.3,"wind_deg":64,"weather":[{"id":502,"main":"Rain","description":"heavy
    [...]
