---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=55.7558&lon=37.6173&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":55.76,"lon":37.62,"timezone":"Europe/Moscow","timezone_offset":10800,"current":{"dt":1601766017,"sunrise":1601782713,"sunset":1601823453,"temp":49.68,"feels_like":43.27,"pressure":1030,"humidity":81,"dew_point":44.1,"uvi":1.83,"clouds":100,"visibility":10000,"wind_speed":8.95,"wind_deg":90,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1601766000,"temp":49.68,"feels_like":44.35,"pressure":1030,"humidity":81,"dew_point":44.1,"clouds":100,"visibility":10000,"wind_speed":7.02,"wind_deg":120,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1601769600,"temp":51.46,"feels_like":46.8,"pressure":1030,"humidity":76,"dew_point":44.15,"clouds":99,"visibility":10000,"wind_speed":5.86,"wind_deg":126,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1601773200,"temp":52,"feels_like":47.17,"pressure":1031,"humidity":73,"dew_point":43.63,"clouds":78,"visibility":10000,"wind_speed":5.95,"wind_deg":123,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","ic[...]
