---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=55.7558&lon=37.6173&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":55.76,"lon":37.62,"timezone":"Europe/Moscow","timezone_offset":10800,"current":{"dt":1600813183,"sunrise":1600831029,"sunset":1600874790,"temp":54.84,"feels_like":46.69,"pressure":1014,"humidity":76,"dew_point":47.43,"uvi":2.75,"clouds":0,"visibility":10000,"wind_speed":13.42,"wind_deg":260,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1600812000,"temp":54.84,"feels_like":48.52,"pressure":1014,"humidity":76,"dew_point":47.43,"clouds":0,"visibility":10000,"wind_speed":10.18,"wind_deg":275,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600815600,"temp":55.44,"feels_like":49.86,"pressure":1014,"humidity":78,"dew_point":48.7,"clouds":0,"visibility":10000,"wind_speed":9.44,"wind_deg":272,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600819200,"temp":55.08,"feels_like":49.95,"pressure":1015,"humidity":81,"dew_point":49.35,"clouds":0,"visibility":10000,"wind_speed":8.95,"wind_deg":270,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}][...]
