---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.7196824056049613'
      Allow:
      - OPTIONS, POST, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":84,"totalHits":84,"hits":[{"id":5354477,"pageURL":"https://pixabay.com/photos/city-cinema-vintage-valencia-5354477/","type":"photo","tags":"city,
        cinema, vintage","previewURL":"https://cdn.pixabay.com/photo/2020/06/29/21/13/city-5354477_150.jpg","previewWidth":100,"previewHeight":150,"webformatURL":"https://pixabay.com/get/53e3d0474e55ab14f1dc846096293f7a1439d6ec514c704f752e7cd2914dc45d_640.jpg","webformatWidth":427,"webformatHeight":640,"largeImageURL":"https://pixabay.com/get/53e3d0474e55ab14f6da8c7dda793676113ed8ed5a536c48732f7ad3914bc559bd_1280.jpg","imageWidth":3297,"imageHeight":4946,"imageSize":4626920,"views":5899,"downloads":4737,"favorites":17,"likes":15,"comments":5,"user_id":17265152,"user":"AveCalvar","userImageURL":"https://cdn.pixabay.com/user/2020/06/29/21-10-30-636_250x250.jpg"},{"id":2617524,"pageURL":"https://pixabay.com/photos/larimer-lodo-denver-colorado-2617524/","type":"photo","tags":"larimer,
        lodo, denver","previewURL":"https://cdn.pixabay.com/photo/2017/08/10/03/04/larimer-2617524_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/54e6d4444f50a814f1dc846096293f7a1439d6ec514c704f752e7cd2914dc45d_640.jpg","webformatWidth":640,"webformatHeight":426,"large[...]
