---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&q=boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.7193913804669054'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":254,"totalHits":254,"hits":[{"id":5135499,"pageURL":"https://pixabay.com/photos/columns-building-massachusetts-5135499/","type":"photo","tags":"columns,
        building, massachusetts","previewURL":"https://cdn.pixabay.com/photo/2020/05/05/23/38/columns-5135499_150.jpg","previewWidth":150,"previewHeight":95,"webformatURL":"https://pixabay.com/get/53e1d6464e5ba514f1dc846096293f7a1439d6ec514c704f752e7cd2914dc45f_640.jpg","webformatWidth":640,"webformatHeight":406,"largeImageURL":"https://pixabay.com/get/53e1d6464e5ba514f6da8c7dda793676113ed8ed5a536c48732f7ad3914bc559bf_1280.jpg","imageWidth":6028,"imageHeight":3825,"imageSize":4576388,"views":4975,"downloads":2433,"favorites":38,"likes":47,"comments":18,"user_id":15683778,"user":"b52_Tresa","userImageURL":"https://cdn.pixabay.com/user/2020/05/06/18-39-10-339_250x250.png"},{"id":1099418,"pageURL":"https://pixabay.com/photos/boston-massachusetts-skyline-1099418/","type":"photo","tags":"boston,
        massachusetts, skyline","previewURL":"https://cdn.pixabay.com/photo/2015/12/19/03/11/boston-1099418_150.jpg","previewWidth":150,"previewHeight":60,"webformatURL":"https://pixabay.com/get/57e0dc4a4e53a414f1dc846096293f7a1439d6ec514c704f752e7cd2914dc45f_640.jpg","webformatWidth":640,"webformatHeight":25[...]
